SpatialLM
checkpoints
assets
plots
videos
utils
ws
trash
config
results
/*.json
/*.py
/*.sh
/*.npy
uv.lock


__pycache__/
aloha_sim_insertion_scripted
aloha_sim_transfer_cube_scripted
conveyor
libero
pen
sort
flash-attention
scripts
